h1 {
    color: #3300cc;

}
body {
    background-image: url(https://3.bp.blogspot.com/-Fym0qaZmJN0/U5hUXiuAh4I/AAAAAAAAhIU/oOV7Nw43S-s/s800/bg_pattern1_aozora.png);
    background-attachment:fixed;
}
h2 {
    color: #ff6633;
    text-decoration:underline;
}
.t {
  font-size: 27px;
  color: red;
  text-decoration:underline;
}
span {
  font-size: 23px;
  color: red;
}
